<% content_for :title, "iAFS" %>

<div class="scrapes-header">
  <h1>iAFS</h1>
  <p class="subtitle">
    <%= t('ui.tagline', article: ["en", "i", "din"].sample) %>
  </p>
  
  <div class="search-inline">
    <%= form_with url: search_scrapes_path, method: :get, local: true, class: "search-form" do %>
      <%= text_field_tag :q, params[:q], placeholder: t('search.form.placeholder'), class: "input-text" %>
      <%= submit_tag t('buttons.search'), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% if @recent_searches.any? || @popular_searches.any? %>
  <div class="search-panels">
    <% if @recent_searches.any? %>
      <div class="search-panel">
        <h3><%= t('headings.recent_searches') %></h3>
        <ul class="search-list">
          <% @recent_searches.each do |search| %>
            <li>
              <%= link_to "#{search.query} (#{search.match_count} #{t('nouns.hit', count: search.match_count)}) - #{search.time_ago}", search_scrapes_path(q: search.query), class: "search-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <% if @popular_searches.any? %>
      <div class="search-panel">
        <h3><%= t('headings.popular_searches') %></h3>
        <ol class="search-list numbered">
          <% @popular_searches.each do |search| %>
            <li>
              <%= link_to "#{search.query} (#{search.match_count} #{t('nouns.hit', count: search.match_count)})", search_scrapes_path(q: search.query), class: "search-link" %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
<% end %>

<div class="view-all-regulations">
  <%= link_to t('links.all_afs'), all_scrapes_path, class: "btn btn-info" %>
</div>
