<% content_for :title, "Benina" %>

<div class="scrapes-header">
  <h1><%= link_to "Benina", root_path, class: "home-link" %></h1>
  <p class="subtitle">
    Inget tjafs - sök <%= ["en", "i", "din"].sample %> AFS!
  </p>

  <div class="search-inline">
    <%= form_with url: search_scrapes_path, method: :get, local: true, class: "search-form" do %>
      <%= text_field_tag :q, @query, placeholder: "Sök i alla föreskrifter", class: "input-text" %>
      <%= submit_tag "Sök", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<% if @query.present? %>

  <div class="search-results">
    <% if @results.any? %>
      <table class="results-table">
        <thead>
          <tr>
            <th>Resultat: <%= @results.length %> träff<%= @results.length == 1 ? '' : 'ar' %></th>
            <th>Föreskrift</th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |res| %>
            <tr>
              <td class="match-snippet">
                <%# Highlight the matched text within the snippet %>
				<p><%= highlight(res[:snippet_text], @query.html_safe) %></p>
              </td>
              <td class="regulation-cell">
                <%= link_to res[:regulation], raw_scrape_path(res[:scrape]), class: "regulation-link", target: "_blank" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="empty-state">
        <h3>Inga träffar</h3>
        <p>Försök att korta ner din fråga, eller skriv en ny.</p>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="empty-state">
    <h3>Börja med att söka</h3>
    <p>Ange ett sökord eller en fras för att hitta träffar i Arbetsmiljöverkets föreskrifter.</p>
  </div>
<% end %>
