<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "iAFS" %></title>
    <meta name="robots" content="<%= robots_meta_content %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="<%= meta_description %>">
    <meta name="copyright" content="<%= meta_rights %>">
    <meta name="dc.rights" content="<%= meta_rights %>">
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : I18n.t("meta.og_title", default: "iAFS") %>">
    <meta property="og:description" content="<%= I18n.t("meta.og_description", default: meta_description) %>">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="sv_SE">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:site_name" content="iAFS">
    <meta name="twitter:card" content="<%= I18n.t("meta.twitter_card", default: "summary") %>">
    <link rel="canonical" href="<%= request.original_url %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script type="application/ld+json">
      <%= {
        "@context" => "https://schema.org",
        "@type" => "WebApplication",
        "name" => "iAFS",
        "url" => root_url,
        "inLanguage" => "sv-SE",
        "applicationCategory" => "LegalService",
        "isAccessibleForFree" => true,
        "description" => meta_description,
        "provider" => {"@type" => "Organization", "name" => "iAFS"},
        "copyrightNotice" => meta_rights
      }.to_json.html_safe %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
